html {
    height: 100%;
}

body {
    background: #ECECEC;
}

.blue {
    color: #447fc8;
}

#login-wrapper {
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    margin-top: -200px;
    margin-left: -190px;
    padding: 25px;
    width: 380px;
    height: 320px;
    background: #FFFFFF;
    text-align: center;
}

.login-form legend {
    margin-top: 5px;
    margin-bottom: 30px;
    padding-bottom: 25px;
}

.login-form .body {
    padding-bottom: 15px;
    border-bottom: 1px solid #eeeeee;
}

.login-form .footer {
    margin-top: 20px;
    text-align: right;
}

.login-form .footer .btn {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-left: 15px;
    padding: 7px 25px;
    background-image: none;
}

.login-form legend {
    font-size: 36px;
    font-weight: 300;
    color: #333333;
}

@media (min-width: 979px) {
    body {
        padding-top: 80px;
    }
}
@media (max-width: 980px) {
    #login-wrapper {
        position: relative;
        top: 0;
        margin-top: 25px;
    }
}
@media (max-width: 495px) {
    #login-wrapper {
        width: auto;
        height: auto;
        margin-left: 0;
        margin-right: 0;
        left: 0;
    }
}